name: cell_tracking_trackastra
channels:
  - conda-forge
  - nodefaults
dependencies:
  - python=3.12
  - pip
  - pip:
    - git+https://github.com/lettlini/core-data-utils
    - numpy
    - toml
    - trackastra
